# The website asks not to copy or distribute the work, but I did
# download it for myself to work offline.
# You can download it with this command:
# wget http://c.learncodethehardway.org/book/index.html --recursive --level=1 
/book
